body {
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(to left, #693AFC, #BE28C3) ; */
     background-color: transparent;
    background-image: radial-gradient(circle at 74.11507924397786% 94.03727213541667%, #222323 0%, 17.5%, rgba(34,35,35,0) 35%), radial-gradient(circle at 58.97912343343099% 66.87540690104167%, rgba(22,87,217,0.61) 0%, 14.7%, rgba(22,87,217,0) 30%), radial-gradient(circle at 0.5939420064290365% 57.086690266927086%, rgba(22,87,217,0.38) 0%, 7.9799999999999995%, rgba(22,87,217,0) 14%), radial-gradient(circle at 13.200607299804688% 9.217885335286459%, rgba(162,56,255,0.24) 0%, 16.5%, rgba(162,56,255,0) 55%), radial-gradient(circle at 100% 37.314453125%, rgba(22,87,217,0.51) 0%, 9.36%, rgba(22,87,217,0) 18%), radial-gradient(circle at 78.61783345540364% 57.83340454101562%, rgba(162,56,255,0.65) 0%, 17.5%, rgba(162,56,255,0) 35%), radial-gradient(circle at 1.8846766153971355% 94.78581746419272%, #222323 0%, 8.6%, rgba(34,35,35,0) 20%), radial-gradient(circle at 48.9013671875% 49.521484375%, #000000 0%, 100%, rgba(0,0,0,0) 100%);
}

.header-section {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 30;
}

.menu-items ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu-items ul li {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 9999px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    cursor: pointer;

}

.menu-items ul li:hover {
    --tw-text-opacity: 1;
    color: rgb(163 230 53 / var(--tw-text-opacity));

}
.purple {
    background-image: linear-gradient(to bottom, #693AFC, #BE28C3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Hide the original text color */
}
.resources-section .purple {
    color: #fff;
}
.btnn {
    
    color: white;
    width: 8rem;
    height: 2.75rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
 border: none;
 background: #220C36 ;
    /* Add border radius */
    border-radius: 9999px;
    box-shadow: 0 0 13px rgba(255, 255, 255, .4);


    /* Add conic gradient border */
    /* border-image: conic-gradient(from 90deg at 50% 50%, #7bf736 0, #37ecd6 50%, #7bf736 100%);
    border-image-slice: 1; */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/GH3Wcr9/3676797.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 8%;
   
}

.main-section {
    max-width: 49rem;
    width: 100%;
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
 


.title {
    font-size: 3.75rem;
    line-height: 1.2;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 600;
    /* text-align: center; */
}



.max-w-xs {
    max-width: 25rem;
}

.max-w-xss {
    max-width: 40rem;
}

.nodes-btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    --tw-text-opacity: 1;
    color: rgb(14 15 18 / var(--tw-text-opacity));
    font-size: .875rem;
    text-decoration: none;
    box-shadow: 0 0 13px rgba(255, 255, 255, .4);
background-color: #BE28C3;
}

.gpu-btn {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    --tw-border-opacity: 1;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    gap: .5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-decoration: none;
}


.earth img{
    width: 85%;
}

.grp-card {
    width: 384px;
    margin-top: 30px;
}



.resources-section {
    padding: 40px 0px;
}

.resourc-title {
    opacity: 1;
    transform: none;
    font-size: 3rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 600;
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
}

.cardd {
    gap: 52px;
    height: 285px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    background: #220C36;
    box-shadow: 0 0 13px rgba(105, 58, 252, .54);
    overflow: hidden;
    opacity: 1;
    transform: none;

}

.node {
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.animated {
    width: 100%;
    margin-top: 1rem;
}

.animated:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}

.cluster {
    border-radius: 16px;
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border: 1px solid rgb(123 123 125 / 30%);
    box-shadow: 0 0 13px rgba(175, 61, 212, 0.3);
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.bg-lime-400 {
    --tw-bg-opacity: 1;
    background:linear-gradient(to left, #693AFC, #BE28C3);
}

.roundedddd {
    border-radius: .25rem;

}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.w-3 {
    width: .75rem;
}

.h-3 {
    height: .75rem;
}

.animated-class { 
    background: transparent;
    border: 1px solid rgba(123, 123, 125, 0.3);
    box-shadow: 0 0 13px rgba(175, 61, 212, 0.3);
    
    padding: 1rem;
    border-radius: .75rem;
    border-radius: .75rem;
}

.animated-loading {
    animation: pulses 2s cubic-bezier(.4, 0, .6, 1) infinite;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background: linear-gradient(to left, #693AFC, #BE28C3);
    width: 5rem;
    height: 1rem;
}

@keyframes pulses {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.title-card {
    --tw-text-opacity: 1;
    color: #fff;
    line-height: 1.5;

    line-height: 1.5;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.anim {
    --tw-bg-opacity: 1;
    background: linear-gradient(to left, #693AFC, #BE28C3);
    border-radius: 9999px;
    width: 2.5rem;
    height: .375rem;
}

.arrw {
    position: absolute;
    display: flex;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;

    justify-content: center;
    align-items: center;
    inset: 0;
}

.instant h3 {
    color: white;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.tablee {
    max-width: 426px;
    width: 100%;
}



.second-main-part  .cardd .purple{
    color: #fff;
}
.border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99/var(--tw-border-opacity));
}


.description-card {
    padding: 40px 0px;
}

.disc-card {
    transition-duration: .5s;
    transition-property: transform;
    /* Only transition the transform property */
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    padding: 1.5rem;
    --tw-border-opacity: 1;
    border: 1px solid white;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    background-color: white;
    /* Ensure hover effect stays within the card boundary */
    text-align: center;
    height: 100%;
    box-shadow: 0 0 13px rgba(255, 255, 255, 1.4);

   
}

.disc-card:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    --tw-translate-x: 0;
    /* Define these properties */
    --tw-translate-y: 0;
    /* Define these properties */
    --tw-rotate: 0;
    /* Define these properties */
    --tw-skew-x: 0;
    /* Define these properties */
    --tw-skew-y: 0;
    /* Define these properties */
    cursor: pointer;
    transform:
        translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.disc-card h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.disc-card p {
    color: rgb(94, 93, 93);
    font-size: .7rem;
    line-height: 1.5rem;
}

.work-section {
    padding: 60px 0px;
}

.graphic-card img {
    max-width: 512px;
    width: 100%;
}


.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.big-card {
    box-shadow: 0 0 13px rgba(255, 255, 255, 1.4);

    width: 100%;
    height: 100%;
text-align: center;
    border-radius: 16px;
    border: 1px solid white;
    padding: 1.5rem;
    justify-content: space-between;
    opacity: 1;
    transform: none;
    position: relative;

}

.big-card2 {
    background: #220C36;
    box-shadow: 0 0 13px rgba(105, 58, 252, .54);
    width: 100%;
    min-height: 380px;
    border-radius: 16px;
    padding: 1.5rem;
    justify-content: space-between;
    opacity: 1;
    transform: none;
    position: relative;
    
}

.big-card h3 {
    font-size: 1.1rem;
    line-height: 1.75rem;
    font-weight: 600;
    position: relative;
    z-index: 11;
}

.medal {
    max-width: 180px;
    height: 180px;

    object-fit: cover;
    
    margin: auto;
}

.trophy {
    max-width: 180px;
    height: 180px;

    object-fit: cover;
    
    margin: auto;
}

.svgexport {
    max-width: 180px;
    height: 180px;
    object-fit: cover;

   
    margin: auto;
}

.mapp-list {
    list-style: none;
    padding: 0px;
}

.mapp-list li {
    display: flex;
    gap: 10px;
    align-items: start;
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
}

.rewards {
    border-radius: 16px;
    background: radial-gradient(100% 100% at 50.06% 0, rgba(121, 250, 166, .3) 0, rgba(14, 15, 18, .3) 49.5%);
    box-shadow: inset 0 1px 2px 0 rgba(163, 244, 175, .5);
    border: none;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.numbr2{
    width: 50px !important;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}

.circle-filled{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background:linear-gradient(to left, #AF3DD4, white) ; */
    background:linear-gradient(to left, #0a0a0a, white) ;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the image */
.moving-image img {
    animation: rotate 10s linear infinite; /* Adjust duration and timing function as needed */
    transform-origin: center; /* Rotate around the center of the image */
    max-width: 400px;
    width: 100%;
    height: auto;
}

.social-icons a img{
    filter: brightness(0) invert(100%);

}






/* Apply custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Apply the same border radius as the container */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, #AF3DD4, black);
    /* Gradient color for the scrollbar thumb */
    border-radius: 10px;
    /* Apply the same border radius as the container */
}
  .reputation {
    background: #220C36;
    box-shadow: 0 0 13px rgba(105, 58, 252, .54);
    border-radius: 16px;
    border: 1px solid var(--Border-Border-subtle, hsla(0, 0%, 100%, .15));
    padding: 2rem;
}

.title-top{
    padding-top: 80px;
}


.footer-section {
    padding: 3rem 0px;
    --tw-border-opacity: 1;
    border-top: 1px solid rgb(50 51 54 / var(--tw-border-opacity));
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;

}

.linkss a {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    cursor: pointer;
    text-decoration: none;
}

.map{
    max-width: 100%;
    height: auto;
    z-index: -10;
    position: relative;
}


.country-card{
    border-radius: 16px;
    border: 1px solid rgb(83, 83, 83);
    backdrop-filter: blur(20px);
    padding: 1rem;
    width: 100%;
}


@media(max-width:1124px) {
    .menu-items {
        display: none;
    }

    .gapping {
        margin-top: 15px;
    }
    
  
}

@media(max-width:1024px) {
    .menu-items {
        display: none;
    }

    .gapping {
        margin-top: 15px;
    }
  
}


@media(max-width:800px) {
    .main-section {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding: 20px;
    }

    .reverse {
        flex-direction: column;
    }

    .title {
        font-size: 2rem;
        line-height: 1.2;
    }

    .max-w-xs {
        max-width: 100%;
    }

    .max-w-xss {
        max-width: 100%;
    }

    .grp-card {
        width: 100%;
        margin-top: 30px;
    }

    .resourc-title {
        opacity: 1;
        transform: none;
        font-size: 3rem;
        line-height: 1;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 2.25rem;
        max-width: 100%;
    }

    .tablee {
        max-width: 100%;
        width: 100%;
    }
    .gappings{
        gap: 20px;
    }

    .disc-card p {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .graphic-card img {
        max-width: 100%;
        width: 100%;
    }

    .big-card2 {
        min-height: auto;
    }
    .linkss a{
        font-size: 16px;
    }
    .linkss{
        margin-top: 20px;
    }
    .social-icons  {
        justify-content: center;
        gap: 40px !important;
    }
.hidden{
    overflow: hidden;
}
.moving-image img{
    max-width: 70%;
}
.earth img{
    width: 100%;
}
}